<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirsrtpro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyFirsrtPro"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirsrtPro">
        <activity
            android:name=".EventEditActivity2"
            android:exported="true" />
        <activity
            android:name=".nav_menu1"
            android:exported="true"
            android:label="@string/title_activity_nav_menu1"
            android:theme="@style/Theme.MyFirsrtPro.NoActionBar" />
        <activity
            android:name=".ReminderActivity"
            android:exported="true" />
        <activity
            android:name=".WeekViewActivity"
            android:exported="true" />
        <activity
            android:name=".DailyCalendarActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".AboutActivity"
            android:exported="true" />
        <activity
            android:name=".ArrayListActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MonthViewActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>